.container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 75px;
}

.imgMoney {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.description {
    color: var(--font-color-primary);
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}

.bannerContainer {
    position: relative;
    border-radius: 10px;
    z-index: 1;
}

.bannerContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1%;
    width: 97.5%;
    height: 100%;
    max-height: 210px;
    background: var(--button-color-active);
    border-radius: 10px;
    box-shadow: 0 0 0 0 var(--button-color-active);
    transform: rotate(-1.5deg);
    z-index: -1;
}

.banner {
    text-align: center;
    background-image: url(../../assets/img/bannerAttention.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    max-width: 938px;
    padding: 58px 136px;
    border-radius: 10px;
}

.bannerHeader {
    color: var(--font-color-thirdy);
    font-size: 1.56rem;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.bannerdDscription {
    color: var(--font-color-fourthy);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
