.RulesForUsing {
    flex-grow: 1;
    position: relative;
}

.wraper {
    padding: 10px 10px 10px 10px;
}

.content {
    margin: 0 auto;
    max-width: 780px;
    padding-bottom: 100px;
    text-align: justify;
}

.header {
    font-weight: 900;
    font-size: 2.1rem;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--font-color-primary);
    margin-top: 30px;
    margin-bottom: 20px;
}

.headerItem {
    max-width: 708px;
    font-weight: 250;
    font-size: 1rem;
    line-height: 19px;
    color: var(--font-color-primary);
    margin-bottom: 5px;
}

.title {
    max-width: 708px;
    font-weight: 250;
    font-size: 1rem;
    line-height: 19px;
    color: var(--font-color-six);
    margin-bottom: 30px;
}

.img {
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: -1;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}

@media (max-width: 1200px) {
    .img {
        bottom: 0%;
    }
    .content {
        padding-bottom: 80px;
    }
}
@media (max-width: 600px) {
    .content {
        padding-bottom: 60px;
    }
    .header {
        font-size: 1.7rem;
    }
}
