.header {
    color: var(--font-color-thirdy);
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 36px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
    color: var(--font-color-primary);
    margin-bottom: 10px;
}
