@font-face {
    font-family: Museo Sans Cyrl;
    src: url('../assets/fonts/MuseoSansCyrl-100.ttf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url('../assets/fonts/MuseoSansCyrl-300.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url('../assets/fonts/MuseoSansCyrl-500.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url('../assets/fonts/MuseoSansCyrl-700.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url('../assets/fonts/MuseoSansCyrl-900.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
