.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.buttonSize {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.registration {
    text-decoration: underline;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.registarionStyle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
