.headerToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    box-shadow: 0px 2px 15px 0px var(--dropShadow-header-color);
    padding: unset;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 36px;
    height: 61px;
    width: 100%;
    max-width: 1920px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 81px;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 9px;
}

.sfere {
    width: 61px;
    height: 44px;
}

.logo {
    margin: 0 auto;
}

.logoMobile {
    width: 136px;
    height: 42px;
}

.navLinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    gap: 5px;

    width: 100%;
    min-width: 252px;

    color: var(--font-color-primary);
    text-align: center;
    text-shadow: 0px 4px 4px var(--text-shadow);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.headerRight {
    display: flex;
    align-items: center;
}

.clocks {
    display: flex;
    align-items: center;
}

.clockeItemWithImg {
    width: 100%;
    min-width: 127px;
    display: flex;
    height: 49px;
}

.clockeItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    margin-top: 10px;
    text-align: left;
    color: var(--font-color-primary);
}

.watch {
    width: 57px;
    height: 49px;
}

.authButtons {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.separator {
    width: 1px;
    height: 52px;
    background: linear-gradient(to bottom, transparent, var(--separator-color), transparent);
    margin: 0 15px;
}

.register {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1770px) {
    .clocks {
        display: none;
    }
}

@media (max-width: 1279px) {
    .headerLeft {
        gap: 10px;
    }

    .authButtons {
        margin-left: 10px;
    }

    .navLinks {
        margin-left: 100px;
    }
}

@media (max-width: 1023px) {
    .header {
        padding: 0 20px 0 60px;
    }
    .navLinks {
        display: none;
    }
}

@media (max-width: 899px) {
    .header {
        padding: 0 5px 0 10px;
    }
    .navLinks {
        display: none;
    }
    .headerRight {
        display: none;
    }
}

@media (min-width: 900px) {
    .burgerMenu {
        display: none;
    }
}

@media (max-width: 600px) {
    .headerRight {
        display: none;
    }

    .logoMobile {
        display: none;
    }
}
