.header {
    width: 100%;
    height: 61px;
    padding: 0 405px 0 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 2px 15px 0px var(--dropShadow-header-color);
    margin-bottom: 80px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 81px;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 9px;
}

.sfere {
    width: 61px;
    height: 44px;
}

.logo {
    width: 136px;
    height: 42px;
}

.navLinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 252px;
    flex-shrink: 0;
    color: var(--font-color-primary);
    text-align: center;
    text-shadow: 0px 4px 4px var(--text-shadow);
    font-family: 'Museo Sans Cyrl';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.headerRight {
    display: flex;
    align-items: center;
}

.clocks {
    display: flex;
    align-items: center;
}

.clockeItemWithImg {
    display: flex;
    width: 127px;
    height: 49px;
}

.clockeItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    margin-top: 10px;
    text-align: left;
}

.watch {
    width: 57px;
    height: 49px;
}

.authButtons {
    display: flex;
    align-items: center;
}

.separator {
    width: 1px;
    height: 52px;
    background: linear-gradient(to bottom, transparent, var(--separator-color), transparent);
    margin: 0 15px;
}

.register {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
