
.registration {
    text-decoration: underline;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.registarionStyle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
