.container {
    position: relative;
    padding: 90px 15px 220px 15px;
}

.imgMoney {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: -1;
}

.girlImg {
    position: absolute;
    top: -10%;
    right: 0;
    margin: 0px 15% auto;
    z-index: -2;
}

.containerTop {
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    max-width: 709px;
    width: 100%;
}

.containerForLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lineContainer {
    margin-top: 10px;
    width: 5px;
}

.verticalLine {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.verticalLine::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--separate-line-main-color);
    z-index: 0;
}

.cardTitle {
    text-transform: uppercase;
}

.cardTitleFirst {
    position: relative;
    font-size: 4.75rem;
    font-weight: 900;
    line-height: normal;
    color: var(--font-color-primary);
}

.cardTitleFirst::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 70%;
    border-radius: 50px;
    background: var(--gradient-button);
    left: -27px;
    top: 0;
    margin-top: 10px;
}

.cardTitleSecond {
    font-size: 3rem;
    font-weight: 250;
    line-height: normal;
    color: var(--font-color-primary);
    margin-bottom: 30px;
}

.description {
    margin-bottom: 10px;
}

.subDescription1 {
    font-size: 1.18rem;
    font-weight: 300;
    line-height: normal;
    color: var(--font-color-primary);
    margin-bottom: 10px;
    width: 100%;
    max-width: 361px;
}

.subDescription2 {
    font-size: 1.18rem;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color-six);
}

.subDescription3 {
    font-weight: 100;
    font-size: 1rem;
    line-height: 22px;
    width: 100%;
    max-width: 450px;
    color: var(--font-color-six);
}

@media (max-width: 1380px) {
    .girlImg {
        margin: 0 5% auto;
    }
    .imgMoney {
        max-width: 1500px;
        top: 0;
    }
    .card {
        max-width: 530px;
        width: 100%;
    }
    .container {
        padding: 90px 15px 150px 15px;
    }
}

@media (max-width: 1142px) {
    .girlImg {
        display: none;
    }
}

@media (max-width: 899px) {
    .imgMoney {
        display: none;
    }
    .card {
        margin: 0 auto;
    }
    .container {
        padding: 50px 15px 100px 15px;
    }
    .subDescription3 {
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .cardTitleFirst {
        font-size: 3.2rem;
    }
    .cardTitleSecond {
        font-size: 2.5rem;
    }
    .subDescription1 {
        font-size: 1rem;
    }

    .subDescription2 {
        font-size: 1rem;
    }

    .subDescription3 {
        font-size: 1rem;
    }
}
@media (max-width: 454px) {
    .cardTitleFirst {
        font-size: 2.3rem;
    }
    .cardTitleSecond {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    .subDescription1 {
        max-width: 307px;
        font-size: 1rem;
    }

    .subDescription2 {
        font-size: 1rem;
    }

    .subDescription3 {
        font-size: 1rem;
    }
    .container {
        padding: 50px 15px 15px 15px;
    }
    .cardTitleFirst::before {
        margin-top: 5px;
    }
}
