.container {
    background-image: url(../../assets/img/backCalculatorSmall.png);
    background-repeat: no-repeat;
    background-position: center bottom -50px;
    background-size: contain;
    padding: 0 15px 90px 15px;
    border-radius: 16px;
}

.header {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.description {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 1rem;
    font-weight: 250;
    line-height: normal;
    max-width: 638px;
    width: 100%;
    margin: 0 auto;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icons-border-color);
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.icons {
    width: 24px;
    height: 24px;
}

.form {
    margin: 0 auto;
    max-width: 1100px;
}

@media (max-width: 425px) {
    .container {
        margin-top: -30px;
    }
    .header {
        font-size: 2rem;
    }
}
