.content {
    max-width: 938px;
    margin: 0 auto 50px;
    padding: 0 15px;
}

.header {
    color: var(--font-color-primary);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}

.description {
    color: var(--font-color-primary);
    font-size: 1rem;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}

.banner {
    background-image: url(../../../assets/img/bannerAttention.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 28px 30px;
    text-transform: uppercase;
    position: relative;
    margin-top: 50px;
}

.bannerHeaderContainer {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 1.56rem;
    font-weight: 700;
    line-height: 27px;
    flex-wrap: wrap;
}

.bannerHeader1 {
    color: var(--font-color-thirdy);
}

.bannerHeader2 {
    color: var(--font-color-fourthy);
}

.bannerdDscription {
    color: var(--font-color-fourthy);
    font-size: 1.25rem;
    line-height: 27px;
}

.bannerdImg {
    position: absolute;
    top: auto;
    right: 48px;
    bottom: 10px;
}

@media (max-width: 850px) {
    .bannerdImg {
        display: none;
    }
}

@media (max-width: 425px) {
    .content {
        margin-top: -105px;
    }
    .banner{
      padding: 23px 28px;
    }
}
