.avatarPreview {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}

.avatarInput {
    display: none;
}

.imgWrap img {
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.imgDefault {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.imgDefault img {
    width: 24px;
    height: 24px;
}
