@import './styles/reset.css';
@import './styles/fonts.css';
@import './styles/variables.css';

#root {
    max-width: 1920px;
    margin: 0 auto;
}

body {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--background-color);
  color: var(--font-color-primary);
  overflow-x: hidden;

}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1920px;
  margin: 0 auto;
}