.infoContainerSecondary {
    width: 100%;
    max-width: 1924px;
    padding: 200px;
    background-image: url(../../assets/mainPageImg/bcg-infoSection.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    transform: translateX(-95px);
}

.content {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 40px;
}

.cardHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 10px;
    width: 100%;
    max-width: 420px;
}

.cardHeader img {
    width: 84px;
    height: 65px;
}

.cardTitle {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: var(--font-color-primary);
    text-transform: uppercase;
}

.header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.headerTitle {
    font-size: 135px;
    font-weight: 900;
    line-height: 110px;
    text-align: center;

    background: linear-gradient(to bottom, var(--button-gradient-color-start), var(--button-gradient-color-finish));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.headerSubTitle {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: center;
    color: var(--font-color-fourthy);

    margin-left: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;

    font-size: 16px;
    font-weight: 250;
    line-height: 19.2px;

    margin-bottom: 20px;
}

.descriptionBottom {
    margin-bottom: 78px;
}

.buttons {
    display: flex;
    gap: 11px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 478px;
}

.buttonSize {
    flex-basis: 50%;
}

.detais {
    text-align: center;
    text-decoration: underline;
}

.containerForLine {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: auto;
}

.lineContainer {
    width: 5px;
}

.verticalLine {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 235px;
}

.verticalLine::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--separate-line-main-color);
    z-index: 0;
}

.circle {
    background: var(--gradient-button);
    border-radius: 50%;
    z-index: 1;
}

.large {
    width: 9px;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 26px;
}

.small {
    width: 9px;
    height: 9px;
}

.firstCircle {
    margin-bottom: 60px;
}

.secondCircle {
    margin-bottom: 39px;
}

.verticalLine2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

.verticalLine2::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--separate-line-main-color);
    z-index: 0;
}

.circle2 {
    background: var(--gradient-button);
    border-radius: 50%;
    z-index: 1;
}

.large2 {
    width: 9px;
    height: 68px;
    border-radius: 25px;
    margin-bottom: 19px;
}

.small2 {
    width: 9px;
    height: 9px;
}

.firstCircle2 {
    margin-bottom: 20px;
}

.secondCircle2 {
    margin-bottom: 20px;
}

@media (max-width: 1919px) {
    .cardTitle {
        font-size: 1.5rem;
        line-height: 34px;
    }
    .description {
        font-size: 1rem;
    }
    .card {
        padding: 20px;
        max-width: 500px;
    }
    .infoContainer {
        background-position: center center;
        background-size: cover;
        height: 100%;
        max-height: 720px;
    }
    .infoContainerSecondary {
        background-position: center center;
        background-size: cover;
    }

    .headerSubTitle {
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
        margin-left: 10px;
    }
    .container {
        display: flex;
        transform: translateX(-77px);
    }
    .descriptionBottom {
        margin-bottom: 37px;
    }
    .large {
        margin-bottom: 22px;
    }
    .large2 {
        height: 63px;
        margin-bottom: 20px;
    }
    .firstCircle2 {
        margin-bottom: 38px;
    }
    .verticalLine2 {
        height: 208px;
    }
}

@media (max-width: 1439px) {
    .cardHeader img {
        width: 64px;
        height: 45px;
    }
    .content {
        gap: 15px;
    }

    .cardTitle {
        font-size: 1.5em;
        line-height: 24px;
    }
    .description {
        font-size: 1rem;
    }
    .card {
        padding: 20px;
        max-width: 500px;
    }
    .infoContainer {
        height: 100%;
        max-height: 720px;
    }
    .infoContainerSecondary {
        padding: 100px;
    }

    .headerSubTitle {
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
        margin-left: 10px;
    }
    .container {
        display: flex;
        transform: translateX(-77px);
    }
    .descriptionBottom {
        margin-bottom: 58px;
    }
    .cardTitle {
        line-height: 24px;
    }
    .large {
        height: 48px;
        margin-bottom: 14px;
    }
    .large2 {
        width: 9px;
        height: 48px;
        border-radius: 25px;
        margin-bottom: 19px;
    }
    .verticalLine {
        height: 269px;
    }

    .firstCircle {
        margin-bottom: 78px;
    }
    .secondCircle {
        margin-bottom: 58px;
    }
    .verticalLine2 {
        height: 230px;
    }
    .firstCircle2 {
        margin-bottom: 39px;
    }
    .secondCircle2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 1023px) {
    .content {
        flex-direction: column;
    }
    .infoContainerSecondary {
        padding: 130px;
    }
    .description {
        font-size: 0.8rem;
    }
    .card {
        padding: 13px 20px;
        max-width: 355px;
    }
    .descriptionBottom {
        margin-bottom: 5px;
    }
    .cardTitle {
        line-height: none;
        font-size: 19px;
    }
    .verticalLine {
        height: 210px;
    }
    .firstCircle {
        margin-bottom: 60px;
    }
    .secondCircle {
        margin-bottom: 40px;
    }
    .large2 {
        margin-bottom: 15px;
    }
    .verticalLine2 {
        height: 190px;
    }
    .firstCircle2 {
        margin-bottom: 39px;
    }

    .secondCircle2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .infoContainerSecondary {
        padding: 160px 12px;
        margin-top: -92px;
    }
    .header {
        display: none;
    }
    .container {
        transform: translateX(0px);
        transform: translateY(0px);
    }
}
